body {
  margin: 25px;
  background-color: rgb(240,240,240);
  font-family: arial, sans-serif;
  font-size: 14px;
}

h1 {
  font-weight: normal;
  margin-top: 5px;
  text-align: center;
  
  display: table; 
  margin: 0px auto 0px auto;
  padding:5px;font-size:45px;background-color:#005035;color:#ffffff
}

p{
  text-align: center;
  text-underline-offset: 5px;

  display: table; 
  margin: 0px auto 0px auto;
  padding:5px;font-size:26px;background-color:#005035;color:#ffffff
}


#deck-buttons button {
  margin: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  align-self: center;
  align-items: center;
  background-color: #A49665;
}

#deck-buttons button:hover {
  background: #45a049;
}
  
